{% extends "base.html" %}
{% block content %}
        <div class="container">
            <h1>Ecuador</h1>
        <div class="container-md">
            <div class="row justify-content-center">
                {% for link, caption in row1 %}
                <div class="col-4">
                    <div class="card border-0 text-center py-3">
                        <img src= "{{ link  }}" class="card-img-top">
                    </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ caption }}</h5>
                        </div>
                </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                {% for link, caption in row2 %}
                <div class="col-4">
                    <div class="card border-0 text-center py-3">
                        <img src= "{{ link  }}" class="card-img-top">
                    </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ caption }}</h5>
                        </div>
                </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                {% for link, caption in row3 %}
                <div class="col-4">
                    <div class="card border-0 text-center py-3">
                        <img src= "{{ link  }}" class="card-img-top">
                    </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ caption }}</h5>
                        </div>
                </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                {% for link, caption in row4 %}
                <div class="col-4">
                    <div class="card border-0 text-center py-3">
                        <img src= "{{ link  }}" class="card-img-top">
                    </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ caption }}</h5>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
