<!DOCTYPE html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <style>
        img {
            width: 400px;
            height: auto;
        }
        </style>
        <title>{{ title  }}</title>
    </head>
        {% include 'navbar.html' %}
        <div class="container">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td style="width: 420px"><img src="https://lh3.googleusercontent.com/Z1y6Uil3kQoJKEzTvnhwmQEoeFuY28woi_n-DcrtDo3mkYftjd8g_SDfndGeYZ9sLBgVMCcMGoy2F8I9qTKHAkKlq57p4xeAw-fhq7KfjEVGbkMXGkcJqavMDJembBfqNjzSGtlenA=w2400" 
                                 ></td>
                        <td style="width: 420px"><img src="https://lh3.googleusercontent.com/RrnZngrB2SwNVnKlSRXNWpG-6zLjaLLrR4CrzJ5ybUNXs6ctPRtkO9e3j4SPHBVTUgaG8-VNiO5IaZvvxWRRE4cXGWa739ZqDxsoWfLIJhKErNWwMJULCn6DJTHGRNTjS6ks6j8kOQ=w2400" 
                                 ></td>
                        <td ><img src="https://lh3.googleusercontent.com/EDqrcjto_pCoMZDkU_CUrcTVyzNhz0KzS571gxKKxjpxz0P4Af7i9F5vK9aFUufv8vDCEIn7id7cl6kP2gomo206yNlRx44ha64nSOX4YqCq6sAcAN0kyWPvgFawyHqDm26ZPxbmIA=w2400" 
                                 ></td>
                    </tr>
                    <tr>
                        <td><img src="https://lh3.googleusercontent.com/INJL-f9jw62okmBl4G7xMZypGPgpa9Vnmcf2OQjFJ1bJZGtetzBd-RpRx6xACJ2sHBrZLpKLasGtU4JsACkwa30w_R1MxUmw1C0rbusXcPwegLkP0-uHO6c4RHld8i82aZHYAE0seQ=w2400" 
                                 ></td>
                        <td><img src="https://lh3.googleusercontent.com/DUnPIgHuDqFMAq_wQAPK5hih_m9oyRuW85gXiF7fzA8VnZIFzQo9aHUZ4s05wfPVS8GMdp-QOA6gGjVlCCGKuTerWbh1HAH3gaflbfxtLh1pAC0PQBwue6jpPPKosj_0nb2K7CZ5Ng=w2400" 
                                 ></td>
                        <td><img src="https://lh3.googleusercontent.com/QgUvXkcvBB-QnCROv8VabSQ0h30P2eLTVc7o4rnVUN_L5yI8W7-q54okoidsTcVfqx-9Zs9jXruSo8AKUhPN4OQF396gDneT6WuiLfRQRMXTB6XZ3Qpb47nL1kRkQI4ytdxy7lSY9Q=w2400" 
                                 ></td>
                    </tr>
                    <tr>
                        <td><img src="https://lh3.googleusercontent.com/5q2Acy4BUWVt9nKh1Q89JvTQfSNNOlVGfbEujZ_1Fm2bCLaUo3NkZ-TaWXJR1g8YYYCpifvgCLOu-AmoNyo-eA3XoT8YcOTf2oykF04gfSg_5siTRYaYfMTEAr8Epj95393dDbFn2g=w2400" 
                                 ></td>
                        <td><img src="https://lh3.googleusercontent.com/HCQq7X8Sj4Blw6Xl0DcbJS7dEVyFKMPB2wHztGFQxeNaAUcB-kMxDF-2gXDSZ3WjXRBIGudVrgUubiFvPF5ckez-Gcp8ZW8v6S6-f1texLfnWcgaw8INpHlDF94z9p6rg55khd6WWg=w2400" 
                                 ></td>
                        <td><img src="https://lh3.googleusercontent.com/eHNXVNRGNcSmoyYbsR23-_NFSc33Ytz9WerY-nVL6mb84-RPVjbJemtpaNah7d-6yRoAc5T1tkd2qne6aAPmhx-vdGq7FtqEIFuTCGpTcCyljtmdpuqK7pDPjz8AFybkmuEcjffUvA=w2400" 
                                 ></td>
                    </tr>
                    <tr>
                        <td><img src="https://lh3.googleusercontent.com/Gx6ribn2UQ16gpM_Fh2e_pVoIvS5W-YMnSTETNmmJcUtcr4mjQgSfXDV6ciZ57NRRjx-ADIbfDXOZVEYf6QIGByCteNJAXs-2euBjvUPy0eK03geVga-cANtgKUw-nfsGNrFKOaAug=w2400" 
                                 ></td>
                        <td><img src="https://lh3.googleusercontent.com/PJLSFsiOp63pwa5pIygGF76-vdiKGO0I_1rR8auYT0Pm5h287p4DSXPi8Fq9FqI__bjJ4Obwz0LHbTUbcjwtqqv-ezDIFK1pO1wgEUahIc9O4M9L3xQ_Clm2KNzVUDuzrnBL8p5viw=w2400" 
                                 ></td>
                        <td><img src="https://lh3.googleusercontent.com/4EQHzHkciQ5VN_U7-rBV0yGrburaafmjbytH46wbpveOvsRsrpP6SxHhrXLvXRzxtSh3ch0zPwA9H2G45wDV87F3f4pRbT03yJ4JUwnWVn9sD5cT0OKGqQhUg1fsO4VZFlYnW7apvQ=w2400" 
                                 ></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
