{% extends "base.html" %}
{% block content %}
        <div class="container">
            <img src="/static/images/phil.jpg" class="img-thumbnail", alt="Phil Lessner">
        </div>
        <br>
        <div class="container">
            <p>Hi, I'm Phil Lessner</p>
        </div>

        <div class="container">
            <h2>Papers</h2>
            {% for reference in references %}
            <p>  {{reference[0] }}  <a href= "{{ reference[4] }}">  {{ reference[1] }}</a>  {{ reference [2] }}  
            </p>
            {% endfor %}
        </div>
{% endblock %}
