{% extends "base.html" %}
{% block content %}
        <div class="container">
            <img src="/static/images/phil_suzhou.jpg" class="img-thumbnail" width="75%" height="75%", alt="Phil Lessner">
        </div>
        <br>
        <div class="container">
            <p>My experience is in development and manufacturing of 
                electronic components. After obtaining my PhD in Chemical Engineering from the
                University of California, Berkeley in Chemical Engineering (with an Electrochemical
                Engineering focus), I worked for several years as a researcher on electrochemical sensor, batteries,
                and fuel cells. I then worked for several years in the field of EMI shielding developing metal-filled
                gaskets and paints. Since 1996 I've been working on development of passive components such as capacitors,
                inductors and resistors. A signficant part of this work has been with capacitors that have one
                electrode that is an intrisincally conducting polymer. Below you can find a list of papers that
                I and my co-authors have published.
            </p>
            <p> Download My Resume: 
            <a href="{{ url_for('views.download_resume', filename='resume.pdf' )}}"><img src="/static/images/pdf_file_icon.png" height="50"></a>
            </p>
        </div>

        <div class="container">
            {% for paper in papers %}
                {% if loop.first %}
                    <h2>Papers</h2>
                {% endif %}
                <p>  {{ paper.authors }}  <a href= "{{ paper.link }}">  {{ paper.title }}</a>  {{ paper.reference }}  
                </p>
            {% endfor %}
            {% for presentation in presentations%}
                {% if loop.first %}
                    <h2>Presentations</h2>
                {% endif %}
                <p>  {{ presentation.authors }}  <a href= "{{presentation.link }}">  {{presentation.title }}</a>  {{presentation.reference }}  
                </p>
            {% endfor %}
            {% for patent in patents %}
                {% if loop.first %}
                    <h2>Patents</h2>
                {% endif %}
                <p>  {{ patent.authors }}  <a href= "{{ patent.link }}">  {{ patent.title }}</a>  {{ patent.reference }}  
                </p>
            {% endfor %}
        </div>
{% endblock %}
