{% extends "base.html" %}
{% block content %}

<form method="POST" action="/blogedit" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.blogabstract.label(class='form-label') }}<br>
        {{ form.blogabstract(class='form-control', rows='5') }}
    </div>
    <div class="mb-3">
        {{ form.blogbody.label(class='form-label') }}<br>
        {{ form.blogbody(class='form-control', rows='20') }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}