{% extends "base.html" %}
{% block content %}


<div class="container">
    <h2>Phil Lessner's Blog</h2>
    <br><br>
    {% for row in rows %}
    <div class="row mb-2">
        {% for post in row %}
        <div class="col-md-6">
          <div class="card h-100">
            {% if post[4] == 'Image' %}
            <img class="card-img-top" height="315px" src="{{ post[3] }}" alt="Card image cap">
            {% else %}
 <div class="ratio ratio-16x9">
<iframe width="560" height="315" src="{{ post[3] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ post[0] }}</h4>
                <div class="mb-1 text-muted">{{ post[2] }}</div>
                <p class="card-text">{{ post[1] | safe}}</p>
                <a href="{{ url_for('blogpost', blogid=post[5]) }}">More...</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>


{% endblock %}
