{% extends "base.html" %}
{% block content %}


<div class="container">
    <h2>Phil Lessner's Blog</h2>
    <br><br>
    <div class="row mb-2">
        <div class="col-md-6">
          <div class="card h-100">
            <img class="card-img-top" height="315px" src="../static/images/AI-Banner.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Post 1</h4>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">More...</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card h-100">
<iframe width="560" height="315" src="https://www.youtube.com/embed/IUBYoUH-cRQ?si=uDdqZIwAM-VueDau" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="card-body">
          <h4 class="card-title">Post 2</h4>
              <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text">Some quick example text to build on the card title and make up the</p>
              <a href="#">More...</a>
        </div>
      </div>
    </div>
      </div>
    <div class="row mb-2">
        <div class="col-md-6">
          <div class="card h-100">
            <img class="card-img-top" height="315px" src="../static/images/Power-Composite.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Post 1</h4>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">More...</a>
            </div>
          </div>
        </div>
    </div>
    </div>


{% endblock %}
