{% extends "base.html" %}
{% block content %}
<div class=""mb-3">
<h3>Blog ID: {{ blogid }}</h3>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('admin.blog_edit', blogid=blogid) }}" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.blogtitle.label(class='form-label') }}<br>
        {{ form.blogtitle(class='form-control') }}
    </div>
    <div class="mb-3">
        {{ form.blogdate.label(class='form-label') }}<br>
        {{ form.blogdate(class='form-control') }}
    </div>
    <div class="mb-3">
        {{ form.blogabstract.label(class='form-label') }}<br>
        {{ form.blogabstract(class='form-control', rows='5') }}
    </div>
    <div class="mb-3">
        {{ form.blogbody.label(class='form-label') }}<br>
        {{ form.blogbody(class='form-control', rows='20') | safe }}
    </div>
    <div class="mb-3">
        {{ form.blogpagecss.label(class='form-label') }}<br>
        {{ form.blogpagecss(class='form-control', rows='5') }}
    </div>
    <div class="mb-3">
        {{ form.blogmedialink.label(class='form-label') }}<br>
        {{ form.blogmedialink(class='form-control') }}
    </div>
    <div class="mb-3">
        {{ form.blogmediatype.label(class='form-label') }}<br>
        {{ form.blogmediatype(class='form-control') }}
    </div>
    {{ form.submit_commit(class="btn btn-primary") }} {{ form.submit_cancel(class="btn btn-secondary") }}
</form>
{% endblock %}