{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="title">Login</h3>

<div class="row">
    <div class="col-4 position-relative mb-4">
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ messages[0] }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    {% endif %}
{% endwith %}
        <form method="POST" action="/login">
            <div class="mb-3">
                <label for="LoginEmail" class="form-label">Email Address</label>
               <input class="form-control" type="email" name="email" id="LoginEmail" aria-describedby="emailHelp" placeholder="Your Email" autofocus="">
            </div>
            <div class="mb-3">
                <label for="LoginPassword" class="form-label">Password</label>
                <input class="form-control" type="password" name="password" id="LoginPassword" placeholder="Your Password">
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label" for="LoginRemember">Remember me</label>
                <input type="checkbox" class="form-check-input" id="LoginRemember" name="remember">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </div>
        </div>
    </div>
{% endblock %}