{% extends "base.html" %}
{% block content %}
        <div class="container">
            <h1>{{ title }}</h1>
        <div class="container-md">
        {% for row in rows %}
            <div class="row justify-content-center">
                {% for link, caption in row %}
                <div class="col-4 position-relative">
                    <figure class="figure">
                        <img src= "{{ link  }}" class="figure-img img-fluid rounded-0" alt="{{ caption }}">
                        <figcaption class="figure-caption">{{ caption }}</figcaption>
                    </figure>
                        <a href = "{{ link }}" class="stretched-link"></a>
                </div>
                {% endfor %}
            </div>
       {% endfor %}
        </div>
        </div>
{% endblock %}
